<style type="text/css">
a.nt1:active{color:green;text-decoration:none}
a.nt1:link{color:green;text-decoration:none}
a.nt1:visited{color:green;text-decoration:none}
a.nt1:hover{color:gold;text-decoration:none}
a.nt11:active{color:green;text-decoration:none}
a.nt11:link{color:green;text-decoration:none}
a.nt11:visited{color:green;text-decoration:none}
a.nt11:hover{color:gold;text-decoration:none}
a.preop1:active{color:brown;text-decoration:none}
a.preop1:link{color:brown;text-decoration:none}
a.preop1:visited{color:brown;text-decoration:none}
a.preop1:hover{color:gold;text-decoration:none}
a.inop1:active{color:brown;text-decoration:none}
a.inop1:link{color:brown;text-decoration:none}
a.inop1:visited{color:brown;text-decoration:none}
a.inop1:hover{color:gold;text-decoration:none}
a.tag1:active{color:brown;text-decoration:none}
a.tag1:link{color:brown;text-decoration:none}
a.tag1:visited{color:brown;text-decoration:none}
a.tag1:hover{color:gold;text-decoration:none}
a.name1:active{color:blue;text-decoration:none}
a.name1:link{color:blue;text-decoration:none}
a.name1:visited{color:blue;text-decoration:none}
a.name1:hover{color:gold;text-decoration:none}
a.library1:active{color:blue;text-decoration:none}
a.library1:link{color:blue;text-decoration:none}
a.library1:visited{color:blue;text-decoration:none}
a.library1:hover{color:gold;text-decoration:none}
a.gloss1:active{color:blue;text-decoration:none}
a.gloss1:link{color:blue;text-decoration:none}
a.gloss1:visited{color:blue;text-decoration:none}
a.gloss1:hover{color:gold;text-decoration:none}
a.folder1:active{color:blue;text-decoration:none}
a.folder1:link{color:blue;text-decoration:none}
a.folder1:visited{color:blue;text-decoration:none}
a.folder1:hover{color:gold;text-decoration:none}
a.table1:active{color:blue;text-decoration:none}
a.table1:link{color:blue;text-decoration:none}
a.table1:visited{color:blue;text-decoration:none}
a.table1:hover{color:gold;text-decoration:none}
a.unnumbered1:active{color:blue;text-decoration:none}
a.unnumbered1:link{color:blue;text-decoration:none}
a.unnumbered1:visited{color:blue;text-decoration:none}
a.unnumbered1:hover{color:gold;text-decoration:none}
a.numbered1:active{color:blue;text-decoration:none}
a.numbered1:link{color:blue;text-decoration:none}
a.numbered1:visited{color:blue;text-decoration:none}
a.numbered1:hover{color:gold;text-decoration:none}
a.lettered1:active{color:blue;text-decoration:none}
a.lettered1:link{color:blue;text-decoration:none}
a.lettered1:visited{color:blue;text-decoration:none}
a.lettered1:hover{color:gold;text-decoration:none}
a.top1:active{color:black;text-decoration:none}
a.top1:link{color:black;text-decoration:none}
a.top1:visited{color:black;text-decoration:none}
a.top1:hover{color:gold;text-decoration:none}
a.underline1:active{color:blue}
a.underline1:link{color:blue}
a.underline1:visited{color:blue}
a.underline1:hover{color:gold}
a.example1:active{color:blue;text-decoration:none}
a.example1:link{color:blue;text-decoration:none}
a.example1:visited{color:blue;text-decoration:none}
a.example1:hover{color:gold;text-decoration:none}
a.option1:active{color:blue;text-decoration:none}
a.option1:link{color:blue;text-decoration:none}
a.option1:visited{color:blue;text-decoration:none}
a.option1:hover{color:gold;text-decoration:none}

</style>